.footer {
  padding: 80px 0 136px;
  position: relative;
}
.footer::after{
  content: "";
  width: 100%;
  height:  104px;
  position: absolute;
  bottom: 0;
  background-image: url(/image/footer/Wave.png);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__icons {
  margin: 0 0 48px;
}
.footer__icons rect:hover {
  fill: #ffeaa7;
}
.footer__icons svg:not(:last-child) {
  margin-right: 37px;
}
.footer__title {
  display: block;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--sub-text);
}
.footer__links {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 16px;
}
.footer__link:hover {
  border-bottom: 1px solid var(--base-black);
}
.footer__email-text {
  color: var(--hightlight);
  margin: -16px 0 48px;
}
.footer__form {
}
.footer__form-first {
  margin-bottom: 30px;
}
.footer__input {
  height: 48px;
  width: 270px;
  padding: 16px;
  background: var(--input);
  border-radius: 16px;
}
.footer__input::placeholder {
  color: var(--base-black);
  opacity: 100;
}
.footer__input:not(:last-child) {
  margin-right: 30px;
}
.footer__form-second {
  display: flex;
}
.footer__textarea {
  padding: 8px 16px;
  width: 370px;
  height: 80px;
  resize: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--hightlight);
}
.footer__textarea::placeholder {
  color: var(--hightlight);
}
.footer__btn {
  height: 80px;
  width: 170px;
}
